version: '3.8'
services:
  gateway:
    build: gateway
    image: gateway-image
    ports:
      - "8080:8080"
    depends_on:
      - server
    environment:
      - SHAREIT_SERVER_URL=http://server:9090

  server:
    build: server
    image: server-image
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - POSTGRES_USER=shareit
      - POSTGRES_PASSWORD=shareit
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit

  db:
    image: postgres:13.7-alpine
    volumes:
      - /var/lib/postgresql/data/
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=shareit
      - POSTGRES_PASSWORD=shareit
